.DS_Store
.tmp/
.build/
.tx/
.idea/
npm-debug.log
config.json
packages
node_modules
config.js
test/e2e/protractor.conf.js
res/nw/config.js
deps/ripple/
deps/angular/
deps/angular-route/
deps/angular-mocks/
deps/angular-bootstrap/
deps/angular-messages/
deps/jquery/
deps/moment/
deps/spin.js/
deps/store.js/
deps/underscore/
deps/snapjs/
deps/bootstrap/
deps/font-awesome/
deps/ng-sortable/
deps/ripple-vault-client/
