section.col-xs-12.content(ng-controller="AccountFlagsCtrl")
  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected && !debug")
    include ../tabs/banner/_unfunded

  .notification-wrapper
    div(ng-repeat="(flag, opts) in flags")
      .alert.alert-info(ng-show="opts.saving && onlineMode", l10n) Updating {{flag}} flag...
      .alert.alert-success(ng-show="notif == flag + 'Updated' && onlineMode", l10n) {{flag}} flag updated
      .alert.alert-danger(ng-show="notif == flag + 'Failed' && onlineMode", l10n) {{flag}} flag update failed. {{opts.engine_result}}: {{opts.engine_result_message}}

  .row
    .col-sm-3
      include settings/_navbar
    .col-sm-9.list(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
      .unfunded.literal(l10n)
        | Your account has to be&#32;
        a(href="https://ripple.com/knowledge_center/activating-your-wallet/", target="_blank", l10n-inc) activated
        | &#32;before you can see this page.
    .col-sm-9.list(ng-show='((connected && account.Balance) || !onlineMode)')

      //- Offline Flag Change
      div(ng-show='offlineSettingsChange')
        signed-transaction(data="{{signedTransaction}}", txJSON="{{txJSON}}", hash="{{hash}}")
      section.content#gateways
        h4(l10n) Account Flags
        div(ng-repeat="(flag, opts) in flags", ng-controller="FlagCtrl")
          // UI for online mode
          form.trust-line-form(name="accountsAdvForm", ng-submit='save()', ng-show="onlineMode")
            .descriptor {{opts.description}}
            .row.accountflags-form-row(ng-hide="opts.edit")
              .col-sm-3
                .description(l10n) {{flag}}
              .col-sm-6
                .description(ng-show="opts.enabled", l10n) Enabled
                .description(ng-hide="opts.enabled", l10n) Disabled
                .description(ng-show="opts.saving")
                  img(src="img/button-s.png", class="loader")
              .col-sm-3
                a.btn.btn-cancel.btn-block(href="", ng-click="opts.edit = true", ng-hide="edit.saving", l10n) edit
            .row.row-padding-small.accountflags-form-row(ng-show="opts.edit")
              .col-sm-3
                .description(l10n) {{flag}}
              .col-sm-4
                div.helperInput
                  label
                    input(type="checkbox", name="acct_adv", ng-model="opts.newEnabled", ng-disabled="opts.saving")
                    span(l10n) Enable
              .col-sm-3
                button.btn.btn-block.btn-success.btn-xs.submit#save(type='submit'
                  ng-disabled='serverForm.$invalid || opts.saving', l10n)
                  span(ng-hide="opts.saving") Save
                  span(ng-show="opts.saving") Saving...
              .col-sm-2
                a.btn.btn-cancel.btn-block(href="", ng-click='cancel()', ng-hide="opts.saving", l10n) cancel

          // UI for offline mode
          form.trust-line-form(name="accountsAdvForm", ng-show="!onlineMode")
            .descriptor(l10n) {{opts.description}}
            .row.accountflags-form-row(ng-hide="opts.edit")
              .col-sm-3
                .description(l10n) {{flag}}
              .col-sm-6
              .col-sm-3
                a.btn.btn-cancel.btn-block(href="", ng-click="opts.edit = true", l10n) edit
            .row.accountflags-form-row(ng-show="opts.edit")
              .col-sm-3
                .description(l10n) {{flag}}
              .col-sm-3
                a.btn.btn-success.btn-block(href="", ng-click='saveOffline("add")', ng-disabled='!$root.sequence || !$root.fee', l10n) Add Flag
              .col-sm-3
                a.btn.btn-danger.btn-block(href="", ng-click='saveOffline("remove")', ng-disabled='!$root.sequence || !$root.fee', l10n) Remove Flag
              .col-sm-3
                a.btn.btn-cancel.btn-block(href="", ng-click='cancel()', l10n) cancel