section.col-xs-12.content(ng-controller="ColdwalletSettingsCtrl")
  .row
    .col-sm-3
      include settings/_navbar
    .col-sm-8.col-md-9.col-xs-12.list
      div
        h4(l10n) Default transaction folder
        .section
          .descriptor(l10n)
          label(l10n) The folder you select here is the default location in which your signed transactions will be saved.
          |  When you create a transaction, the transaction file will be automatically saved to this location.
    .form-group#servers
      .col-sm-8.col-md-9.col-xs-12.list
        a.btn.btn-primary(ng-click='fileInputClick()', l10n) Change folders
        .section
          hr
          .p(l10n) Current default folder: {{defaultDirectory || 'not specified'}}.
        h4#serverSettings(ng-hide="onlineMode", l10n) Account Sequence
        form.server-row-form(ng-hide="onlineMode", ng-controller="ColdwalletSettingsCtrl", ng-submit="saveSequence()")
          ng-form(name="feeForm")
            .row
              .col-md-3.col-sm-4.col-xs-3
                .descriptor(l10n) Sequence
                input.form-control#send_sequence(
                  name='send_sequence', type='number'
                  ng-model='$root.sequence'
                  ng-required='!onlineMode', placeholder="sequence")
              .col-xs-3.col-sm-3.col-md-2
                .descriptor.portNumber(l10n) Update
                button.btn.btn-block.btn-success.btn-xs.submit#save(type='submit'
                ng-disabled='feeForm.$invalid', l10n) Save
          ng-form(name="savedFeeForm")
            .row
              .col-sm-12.notification-wrapper
                .alert.alert-success(ng-show="saved", l10n) Updates saved.      
