section.single.ddpage.content(ng-controller="ColdWalletCtrl")
  group.error(ng-show="accountError") Error reading account information. {{accountErrorMessage}}
    hr

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group(ng-if="connected", ng-hide="accountError")
    h4 You are viewing the cold wallet information for account {{address}}.
      p Always store the secret key for the cold wallet on a machine that is entirely offline.
    hr
    p {{lastTxn}} The transaction was validated at {{txnTime | date:'yyyy-MM-dd HH:mm:ss Z'}}.
    hr
    // Account information
    h Account Information
      col-md-12.data
        .table-responsive
          table.table.table-hover
            thead
              tr
                th Current Sequence Number
                th Current Network Fee
            tbody
              tr
                td {{sequenceNumber}}
                td {{networkFee}}
        .table-responsive
          table.table.table-hover
            thead
              tr
                th Setting
                th Enabled
                th Description
            tbody
              tr(ng-repeat="line in accountInfo")
                td {{line.setting}}
                td {{line.enabled}}
                td {{line.description}}
      a(href="https://ripple.com/build/gateway-guide/", target="_blank", l10n) Best practices
    // Balances and currencies
    hr
    h Balances
      col-md-12.data
        .table-responsive
          table.table.table-hover
            thead
              tr
                th Currency
                th Counterparty
                th Value
            tbody
              tr(ng-repeat="balance in balances")
                td {{balance.currency}}
                td {{balance.counterparty}}
                td {{balance.value}}
    hr
    // Trustlines
    h Trust Lines with warnings
      col-md-12.data
        .table-responsive
          table.table.table-hover
            thead
              tr
                th Counterparty
                th Currency
                th No Ripple
                th Authorized
                th Warning
            tbody
              tr(ng-repeat="line in warningLines")
                td {{line.specification.counterparty}}
                td {{line.specification.currency}}
                td(ng-if="!line.specification.ripplingDisabled") Not set
                td(ng-if="line.specification.ripplingDisabled") {{line.specification.ripplingDisabled}}
                td {{line.specification.authorized}}
                td {{line.warning}}
    hr
  button.btn.btn-success(ng-click='gotoLogin()') Back to login