section.col-xs-12.content(ng-controller="LoginCtrl")

  .row.options
    .col-md-offset-2.col-md-8
      ul.nav.nav-pills
        li(ng-class="{active: mode=='open'}")
          a(href="", ng-click="mode='open'") Open Account
        li(ng-class="{active: mode=='readOnly'}")
          a(href="", ng-click="mode='readOnly'") Read Only Mode
        li(ng-class="{active: mode=='coldwallet'}")
          a(href="", ng-click="mode='coldwallet'") Cold Wallet
        li(ng-class="{active: mode=='submittxn'}")
          a(href="#/submit", ng-click="mode='submittxn'") Submit Txn
        li(ng-class="{active: mode=='serversettings'}")
          a(href="#/advanced", ng-click="mode='serversettings'") Server Settings  

  .row.auth-form-container(ng-show="mode=='open'")
    .col-md-offset-2.col-md-8
      .auth-form-wrapper
        form(name='loginForm', ng-disabled="loginForm.$invalid || ajax_loading", , ng-submit='submitForm()')
          h2(l10n) Open account

          .form-group
            a.btn.btn-block.btn-link(href='#register', l10n) Create new account

          .form-group
            a.btn.btn-block.btn-default#walletfile(ng-click='fileInputClick()', l10n) Select{{walletfile ? "ed" : ""}} account file {{walletfile}}

          .form-group.hide
            label(for='login_walletfile', l10n) Select account file
            input.form-control#login_walletfile(name='login_walletfile', type="file"
              ng-model='walletfile')
          .form-group
            label(for='login_password', l10n) Account password
            input.form-control#login_password(name='login_password', type='password'
              ng-model='password', rp-focus-on-empty, required)
          .text-error(ng-show='error')
            br
            span {{error}}
          .text-status(ng-show='status')
            span {{status}}

            .backend(ng-repeat="message in backendMessages")
              b {{message.backend}} &#32;
              span {{message.message}}
          .submit-btn-container
            button.btn.btn-submit.btn-block.btn-success(type='submit', ng-disabled="loginForm.$invalid || ajax_loading", rp-spinner="{{ajax_loading ? 4 : null}}")
              span(l10n) Open account

  .row.auth-form-container(ng-show="mode=='readOnly'")
    .col-md-offset-2.col-md-8
      .auth-form-wrapper
        form(name='readOnlyForm', ng-disabled="readOnlyForm.$invalid || ajax_loading", ng-submit='submitReadOnlyForm()')
          h2(l10n) Open account

          .form-group
            label(for='readOnlyAddress', l10n) Enter Ripple Address
            input.form-control(name='readOnly', ng-model='readOnly'
              rp-focus-on-empty, required, rp-dest, rp-dest-address)
            br
            .errorGroup(rp-errors='readOnly')
              .error(rp-error-on='rpDest', l10n)
                | Input should be a valid Ripple address.

          .submit-btn-container
            button.btn.btn-submit.btn-block.btn-success(type='submit', ng-disabled="readOnlyForm.$invalid || ajax_loading", rp-spinner="{{ajax_loading ? 4 : null}}")
              span(l10n) Open account

  .row.auth-form-container(ng-show="mode=='coldwallet'")
    .col-md-offset-2.col-md-8
      .auth-form-wrapper
        form(name='coldWalletForm', ng-disabled="coldWalletForm.$invalid || ajax_loading", ng-submit='submitColdWalletForm()')
          h2(l10n) View cold wallet

          .form-group
            label(for='coldWalletAddress', l10n) Enter Ripple Address
            input.form-control(name='coldWallet', ng-model='coldWallet'
              rp-focus-on-empty, required, rp-dest, rp-dest-address)
            br
            .errorGroup(rp-errors='coldWallet')
              .error(rp-error-on='rpDest', l10n)
                | Input should be a valid Ripple address.

          .submit-btn-container
            button.btn.btn-submit.btn-block.btn-success(type='submit', ng-disabled="coldWalletForm.$invalid || ajax_loading", rp-spinner="{{ajax_loading ? 4 : null}}")
              span(l10n) Open account
