//- TODO sometimes doesn't add the file at first time
section.col-xs-12.content(ng-controller="SubmitCtrl")

  group.disconnected(ng-hide="connected")
    p.literal(l10n) You have to be online to see this screen

  group(ng-if="connected")
    div.panel.panel-default(ng-show="invalidTxns.length")
      div.panel-heading
        button.close(type="button", class="close", data-dismiss="alert", aria-label="Close", ng-click="invalidTxns = {}")
          span(aria-hidden="true")
            i.fa.fa-times
        strong The following file(s) were not added
      div.panel-body
        div.table-responsive
          table.table.table-striped.table-bordered
            thead
              tr
                th File
                th Error
            tbody
              tr(ng-repeat="invalidTxn in invalidTxns")
                td {{invalidTxn.path}}
                td {{invalidTxn.error}}
    form(name="submitForm", ng-submit='submit()')
      .txFileRow(ng-controller="TxRowCtrl", ng-repeat="txFile in txFiles")
        .row
          .col-sm-8
            div.fileName
              dl.dl-horizontal
                dt Transaction file
                dd {{txFile.path}}
                dt Account address
                dd {{txFile.txJson.Account}}
                dt Sequence number
                dd {{txFile.txJson.Sequence}}
                dt Transaction type
                dd {{txFile.txJson.TransactionType}}
          .col-sm-2
          .col-sm-2
            .pull-right
              a(ng-hide="state", href="", ng-click="remove()") Remove
              a.pull-right(ng-show="state == 'error' || state == 'unfunded' || state == 'bad_auth_master' || state == 'success'", ng-click="remove()")
                i.fa.fa-times
              div.failed(ng-show="state == 'error'")
                | {{message}}
              div.failed(ng-show="state == 'unfunded'")
                | {{message}}
              div.failed(ng-show="state == 'bad_auth_master'")
                | {{message}}
              div.success(ng-show="state == 'success'")
                | {{message}}
              div.pending(ng-show="state == 'pending'")
                | {{message}}


        .form-group.hide
          input.form-control(type="file", name="tx[{{$index}}]", ng-model="txFile")
      .form-group
        a.txFileInput#txDropZone(ng-click='fileInputClick()', ng-init="initDropzone()" l10n)
          | + Add or drop transaction file(s) here
      .form-group(ng-show="txFiles.length")
        .row
          .col-md-3
            button.btn.btn-submit.btn-block.btn-success(type="submit"
              ng-disabled="submitForm.$invalid || loading", rp-spinner="{{loading ? 4 : null}}")
              span(l10n) Submit
  button.btn.btn-success(ng-click='gotoLogin()') Back to login.