section.col-xs-12.content(ng-controller="TouCtrl")
  h1 RIPPLE PRODUCTS TERMS OF USE
  p
    strong THESE TERMS OF USE ARE AN AGREEMENT (“Agreement”) BETWEEN YOU (“You” OR “User”) AND RIPPLE LABS, INC. AND ITS AFFILIATES (COLLECTIVELY “Ripple”) THAT
      | GOVERNS YOUR RIGHT TO ACCESS AND USE RIPPLE’S [DESCRIBE] SOFTWARE PRODUCT AND THE API’S, SERVICES, TOOLS AND TECHNOLOGY PROVIDED BY RIPPLE IN CONNECTION 
      | THEREWITH (COLLECTIVELY “Ripple Products”). PLEASE READ THIS AGREEMENT CAREFULLY.  IF YOU AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS OF THIS 
      | AGREEMENT, PLEASE CLICK THE “AGREE” BUTTON AT THE END OF THIS AGREEMENT.  IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL 
      | ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS "YOU," “YOUR" OR “USER” SHALL 
      | REFER TO SUCH ENTITY. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT, PLEASE CLICK THE “DO
      | NOT AGREE” BUTTON AT THE END OF THIS AGREEMENT AND YOU MAY NOT USE THE RIPPLE PRODUCTS.
  p 
    | 1. 
    strong RIPPLE PROTOCOL. 
    | The Ripple Products facilitate access to and interaction with the decentralized Ripple transaction protocol payment network (“Ripple Protocol”). The Ripple 
    | Products may permit you to access a Ripple Protocol wallet (“Ripple Wallet”), initiate payments postings to the Ripple Protocol, and view transaction 
    | histories and balances available via the Ripple Protocol. You understand that Ripple Products are merely a tool for initiating actions that occur within the 
    | Ripple Protocol and viewing the record of those actions. You understand that any balances shown in Ripple Products are (i) actually held by third parties or (ii)
    |  in the case of XRP, held through a chain of custody documented on the Ripple Protocol public ledger (the “Ledger”). You acknowledge and agree that Ripple 
    | has no control, responsibility or authority over such third parties. Ripple Products merely interoperate with such entities via the Ripple Protocol. For more 
    | information about the Ripple Protocol, including Ripple Protocol transaction Fees, please visit the Ripple Wiki (https://ripple.com/wiki/). You further 
    | acknowledge and agree that transactions you initiate within the Ripple Protocol may be available to the public on the Internet via the Ledger. Once data is 
    | shared publicly via the Ripple Protocol, neither Ripple nor any third party may selectively censor or blacklist access to, and subsequent use of, such data. 
  p
    | 2. 
    strong OTHER AGREEMENTS. 
    | The terms of this Agreement shall not apply to the extent (a) a specific Ripple Product has been provided to you under a separate written agreement with 
    | Ripple – in such case the terms of such separate agreement shall prevail with respect to the use of such Ripple Product; or (b) a specific Ripple Product is 
    | open source software – in such case the terms of the applicable open source software license shall prevail with respect to use of such Ripple Product and in 
    | no event shall Ripple’s liability, if any, with respect to any aspect of open source software exceed any limitation set forth in Section16. Except as 
    | provided in the foregoing, this Agreement contains the parties’ entire agreement, and supersedes all prior and contemporaneous understandings between the 
    | parties regarding Ripple Products.
  p  
    | 3. 
    strong RIGHT TO USE. 
    ol(type="a")
      li Subject to the terms and conditions of this Agreement, Ripple hereby grants to you a limited, non-exclusive, non-transferable, right and license during 
      | the term of this Agreement: (i) to access and use the Ripple Products (including related documentation) on behalf of yourself and your clients to 
      | communicate via the Ripple Protocol, including by initiating transactions for clients; (ii) to install and run the Ripple Products on the number of 
      | licensed Servers (as defined below) for which you have paid an applicable license Fee; and (iii) to allow your employees and personnel for whom you have 
      | paid an applicable license Fee to access and use the Ripple Products from your licensed Servers. “Server” means a physical or virtualized instance capable 
      | of running the Ripple Products.
      li Except as expressly permitted in a separate written Agreement with Ripple, you may not: (i) sell, distribute, transfer or otherwise make available any 
      | Ripple Products (with or without charge) to any person not authorized to use such Ripple Products; (ii) decompile, disassemble or reverse engineer any 
      | Ripple Products; (iii) remove or obscure any proprietary notices, legends, labels, symbols, or logos from any Ripple Products; (iv) modify or create any 
      | derivatives of the Ripple Products; or (v) embed, incorporate, merge or combine the Ripple Products into any other software, program, application, 
      | services or other hardware.
      li You will be responsible for obtaining and maintaining at your expense any computer hardware, software and infrastructure needed to support your use of 
      | the Ripple Products.
  p
    | 4. 
    strong THIRD-PARTY SERVICES. 
    | You may be able to access and use third-party content and services displayed via Ripple Products, such as gateway services (“Third-Party Services”), 
    | including Third-Party Services that allow you to fund a Ripple Wallet by purchasing and sending balances of digital and real currencies directly to a Ripple 
    | Wallet. When using any Third-Party Services, you are interacting directly with such services, not Ripple, and you agree to comply with any terms and 
    | conditions applicable to such services. Ripple Products may display or otherwise highlight certain Third-Party Services for your convenience, but we do not 
    | endorse any Third-Party Services. You are solely responsible for your use of any Third-Party Services. We are not a party to, make no representations or 
    | warranties as to, and have no responsibility or liability with respect to any of your communications, transactions, interactions, disputes or any relations 
    | whatsoever between you and any third party providing the Third-Party Services, including any fees that may be charged to you in connection with your use of 
    | any Third-Party Services. 
  p
    | 5. 
    strong ACCOUNTS. 
    | The login credentials issued for your accounts associated with Ripple Products (including information related to your Ripple Wallet and any private key 
    | issued to you) are confidential and intended for your use only.  You are solely responsible for protecting such information and your accounts from 
    | unauthorized access and use by others.  Ripple will have no responsibility for the consequences of another party accessing and using your Ripple Wallet or 
    | your accounts. 
  p 
    | 6. 
    strong BLOCKING. 
    | You understand and agree that we may block excessive or abusive use of Ripple Products from a particular IP address or account at any point in time and 
    | for any length of time, in our sole discretion. Even if we block access to Ripple Products, you may still be able to access your Ripple Wallet or accounts 
    | via other client software. 
  p
    | 7. 
    strong ACCEPTABLE USE. 
    | You agree not to: (a) use Ripple Products in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying 
    | Ripple Products, or that could damage, disable, overburden or impair the functioning of Ripple Products in any manner; (b) attempt to circumvent any 
    | security techniques we employ, or attempt to access any service or area of Ripple Products that you are not authorized to access; (c) introduce to Ripple 
    | Products any virus, trojan worms, logic bombs or other harmful material; (d) encourage or induce any third party to engage in any of the activities 
    | prohibited under this Agreement; or (e) use any data mining, robots or similar data gathering or extraction methods to access Ripple Products. Any use of a 
    | Ripple Product other than as specifically authorized herein, without the prior written permission of Ripple, is strictly prohibited and will terminate your 
    | right to use Ripple Products. Your use of Ripple trademarks and logos shall at all times comply with Ripple’s branding terms and guidelines (as may be 
    | posted on www.ripple.com or provided by Ripple from time to time – such terms are hereby incorporated herein) and all legal requirements applicable to such 
    | use.  
  p
    | 8. 
    strong FEES. 
    | The fees for accessing the Ripple Products (“Fees”) are set forth in the Ripple schedule of fees and rates in effect  (the “Fee Schedule”) at the 
    | beginning of the Initial Term or such later fees and rates of which you are notified (either online via the Ripple Products or via email or other method 
    | permitted in this Agreement) prior to the renewal of a Renewal Term. The Fee Schedule is hereby incorporated in this Agreement by reference.  Ripple may 
    | revise fees at any time in accordance with Section 14. If any taxes are imposed on any use of the Ripple Products, such taxes shall be your responsibility.
  p 
    | 9. 
    strong COMPLIANCE WITH LAW. 
    | You agree to use Ripple Products in compliance with all applicable laws, rules or regulatory regimes (collectively, “Laws”), contracts, or third-party 
    | rights and agrees not to engage in any transaction involving illegal products or services. Without limiting the foregoing, you agree not to violate (a) any 
    | applicable domestic or foreign anti-corruption Law, including the United Kingdom Bribery Act of 2010 and the United States Foreign Corrupt Practices Act; 
    | (b) any applicable domestic or foreign Laws related to Anti-Money Laundering and anti-terrorist financing requirements, including the USA Bank Secrecy Act, 
    | as amended by the USA Patriot Act and the Financial Conduct Authority’s Anti-Money Laundering Regulations; (c) the sanctions Laws administered by the U.S. 
    | Department of Treasury’s Office of Foreign Assets Control; and (d) applicable export restrictions or Laws, including United States Export Administration 
    | Regulations, as well as end user, end use and destination restrictions which may be issued by the United States and other governments. Furthermore, you 
    | shall not utilize the Ripple Products in a manner that could cause Ripple to violate any of the foregoing Laws or other applicable Laws to which Ripple is 
    | subject.
  p 
    | 10. 
    strong DATA. 
    | You hereby grant Ripple the right to use any data or information that you submit to us or to which we may have access through the Ripple Products (“User 
    | Data”) in connection with providing and operating the Ripple Products and for our own internal business purposes. You agree not to provide any User Data to 
    | us where use as contemplated herein would violate any applicable privacy Law or the proprietary rights of any person or entity.  You agree that Ripple may 
    | collect, store, process and use User Data and feedback you provide regarding the Ripple Products for the purpose of enhancing Ripple Products (including 
    | developing new features, functionalities and products, conducting market research and industry trends, and distributing benchmarks, algorithms and models), 
    | provided however that subject to public disclosure via the Ledger as further provided in Section 1, Ripple shall not disclose your User Data to any party 
    | other than you or your clients unless in an anonymized and aggregated format whereby the individual sources thereof cannot be identified or attributed in 
    | any manner. 
  p
    | 11. 
    strong RIPPLE INTELLECTUAL PROPERTY. 
    | Ripple and/or its licensors are and shall remain the sole and exclusive owners of all rights, title and interest in and to the Ripple Products, as well as 
    | any improvements, modifications, customizations and other derivative works of such items made by any party (collectively, “Derivatives”). To the extent you 
    | retain rights in any Ripple Products or Derivatives contrary to the allocation of ownership in this Section 11, you hereby grant, assign and convey to 
    | Ripple all of your right, title and interesting such items and in all intellectual property associated therewith. Derivatives shall be considered included 
    | in the Ripple Products licensed to you under this Agreement. All rights with respect to the Ripple Products, not specifically granted to you are reserved by 
    | Ripple. You acknowledge that the code, documentation and other materials related to the Ripple Products that are provided to you ( “Ripple Materials”), 
    | contain trade secrets of Ripple. You agree to take measures to protect the confidentiality of the Ripple Materials that, in the aggregate, are no less 
    | protective than those measures you use to protect the confidentiality of your own confidential information (in no event, less than commercially reasonable 
    | measures). You agree not to disclose the Ripple Materials to anyone other than your personnel who have a legitimate need to know such information in 
    | accordance with the license granted in this Agreement.
  p 
    | 12. 
    strong TERM AND TERMINATION. 
    | This Agreement shall be effective upon the earlier of the date it is executed by us or the date a Ripple Product is first made available to you and shall 
    | expire upon completion of the initial term you elect at the time of activation (the “Initial Term”).  After the Initial Term, this Agreement shall 
    | automatically renew for additional one year terms (each, a “Renewal Term”), at Ripple’s then prevailing Fee Schedule, unless either party gives written 
    | notice of termination (either via email or other method permitted in this Agreement) at least 30 days prior to the end of the then current Initial Term or 
    | Renewal Term, as applicable.  You may terminate this Agreement at any time by ceasing to use the Ripple Products, provided that you give us written notice 
    | (including via email or applicable functionality in a Ripple Product) to terminate any recurring Fees. This Agreement will automatically terminate without 
    | notice to you if you breach any term of this Agreement. In the event of termination no prepaid Fees will be refunded except as provided in Section 14. As of 
    | termination, Ripple shall have no further obligation to provide you with access to the affected Ripple Products, and you shall cease use of all affected 
    | Ripple Products and Ripple Materials, except as provided under a separate written agreement with Ripple. The provisions of Sections 2, 4, 5 and 9 through 22 
    | and any other provisions contained herein which by their nature or effect are required or intended to be observed after termination of this Agreement will 
    | survive the termination and remain binding.
  p
    | 13. 
    strong NOTICE. 
    | Any notices required to be given by you pursuant to this Agreement shall be in writing and shall be deemed to have been duly given when (i) delivered 
    | personally; (ii) sent by mail (with return receipt requested); (iii) sent by overnight courier service; or (iv) sent by electronic mail; in each case using 
    | the contact information provided by a party from time to time. Any electronic mail shall be considered to be received by the recipient at the time it is 
    | emailed to the recipient unless the sender receives notice that the email was not delivered. Ripple may provide notice to you under this Agreement using the 
    | methods set forth in this Section or electronically via a Ripple Product or by online posting on the Ripple website. Any changes or updates posted on the 
    | Ripple website will be effective on the date specified in such posting.
  p
    | 14. 
    strong AMENDMENTS. 
    | Ripple may amend this Agreement, including applicable Fees, by giving notice of the amended term or revised Fee in accordance with Section 13 (any such 
    | amended information is hereby incorporated herein). If any such modification affects you in a material and adverse manner, you, as your sole remedy, may 
    | serve Ripple, within 30 days of receiving Ripple’s change notice, with written notice to terminate this Agreement. In the event of such termination, Ripple 
    | will refund any unearned, prepaid Fees for the affected Ripple Product promptly following cessation of use of such Ripple Product. If you do not exercise 
    | your termination right within the specified 30 day period you will be deemed to have accepted the modification.  Except as expressly provided in this 
    | Section, no other modification, amendment, supplement, or other change to this Agreement will be effective unless set forth in writing and signed by duly 
    | authorized representatives of Ripple and you.
  p 
    | 15. 
    strong DISCLAIMER OF WARRANTY. 
    | To the fullest extent permitted by law, (a) we make no promises as to Ripple Products, their completeness, accuracy, availability, timeliness, propriety, 
    | security or reliability; (b) your access and use are at your own risk, and Ripple Products are provided “AS IS” and “AS AVAILABLE”; and (c) RIPPLE AND ITS 
    | OFFICERS, DIRECTORS, EMPLOYEES AND AGENTS (COLLECTIVELY, “RIPPLE ENTITIES”), DISCLAIM ALL WARRANTIES & CONDITIONS, EXPRESS OR IMPLIED, INCLUDING, BUT NOT 
    | LIMITED, TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE, AND NON-INFRINGEMENT. If implied warranties may not be disclaimed 
    | under applicable law, then ANY IMPLIED WARRANTIES ARE LIMITED IN DURATION TO A PERIOD OF THIRTY (30) DAYS FROM THE DATE A RIPPLE PRODUCT IS FIRST MADE 
    | AVAILABLE TO YOU. Some states do not allow limitations on how long an implied warranty lasts, so the above limitation may not apply to you. This warranty 
    | gives you specific legal rights, and you may also have other rights which vary from state to state.
  p 
    | 16. 
    strong LIMITATION ON LIABILITY. 
    ol(type="a")
      li You acknowledge and agree that Ripple: (i) does not have any authority or responsibility to prohibit, restrict, rescind or approve any transaction or 
      | other interaction that occurs through the Ripple Protocol, Ripple Products or Third-Party Services; (ii) is not a party to, has no involvement or interest 
      | in, makes no representations or warranties as to, and has no responsibility or liability with respect to any communications, transactions, interactions, 
      | disputes or any relations whatsoever between you and any other participant, person or organization that uses Ripple Products; and (iii) does not 
      | investigate or verify the reputation, conduct, morality or criminal background of any Ripple Product user, including without limitation any Ripple gateway 
      | or Third-Party Service.
      li You acknowledge and agree that you are solely responsible for your access and use of Ripple Products, including without limitation for: (i) any 
      | payments or other transactions you complete; (ii) investigating or screening other Ripple Product users before engaging in any transaction with such 
      | participants; (iii) any interactions you have with Third-Party Services or other Ripple Product users or gateways; and (iv) your use of any Ripple 
      | gateways to exchange any currency or other items of value that you may have stored in your Ripple Wallet or account. RIPPLE ASSUMES NO RESPONSIBILITY FOR 
      | ANY CONSEQUENCES RELATING DIRECTLY OR INDIRECTLY TO ANY ACTION OR INACTION YOU TAKE USING RIPPLE PRODUCTS. YOU ASSUME ALL RISKS ASSOCIATED WITH USING 
      | RIPPLE PRODUCTS.
      li TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT WILL THE RIPPLE ENTITIES BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE 
      | DAMAGES, OR ANY LOSS (E.G. OF PROFIT, REVENUE, DATA, OR GOODWILL). Some jurisdictions do not allow the limitation or exclusion of liability for incidental 
      | or consequential damages, so some of the limitations of this section may not apply to you. 
      li TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT WILL THE AGGREGATE LIABILITY OF THE RIPPLE ENTITIES, WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING 
      | NEGLIGENCE, WHETHER ACTIVE, PASSIVE OR IMPUTED), PRODUCT LIABILITY, STRICT LIABILITY OR OTHER THEORY, ARISING OUT OF OR RELATING TO THE USE OF, OR 
      | INABILITY TO USE RIPPLE PRODUCTS OR TO THIS AGREEMENT EXCEED THE TOTAL AMOUNT, IF ANY, PAID OR PAYABLE BY YOU TO RIPPLE FOR THE ASSOCIATED RIPPLE PRODUCTS 
      | IN THE TWELVE (12) MONTHS PRECEDING THE EVENT GIVING RISE TO THE CLAIM(S) FOR SUCH LOSSES AND DAMAGES.
  p 
    | 17. 
    strong INDEMNITY. 
    ol(type="a")    
      li You agree to indemnify, defend and hold each Ripple Entity harmless from and against any loss, costs, expenses (including reasonable attorneys' fees) 
      | or damages incurred by such Ripple Entity in connection with third party claims arising from (a) any claim of a customer, client or counterparty that 
      | transacts business with you in connection with the Ripple Products; (b) Third-Party Services; (c) any breach of this Agreement by you; or (d) any User 
      | Data or other data provided by you, including any data provided contrary to applicable data privacy Law. 
      li Ripple agrees to indemnify, defend and hold harmless you and your affiliates and their officers, directors, employees and agents from and against any 
      | loss, costs, expenses (including reasonable attorneys' fees) or damages incurred by such entities in connection with third party claims that any of the 
      | Ripple Products infringe or misappropriate a patent, copyright, trademark, trade secret or other intellectual property right of such third party. The 
      | indemnification obligations set forth in this Section 17(b) shall not apply to the extent any claim arises out of any: (i) damage, alteration or 
      | modifications to the Ripple Products that was not performed or authorized by Ripple; (ii) software, hardware, technology or other materials not provided 
      | by Ripple or the combination of the Ripple Products therewith; (iii) use of the Ripple Products in an unauthorized manner or otherwise outside the scope 
      | of this Agreement; (iv) use of an out-of-date version of the Ripple Products that is no longer supported by Ripple; (v) an act, omission, neglect, or 
      | beach of this Agreement by you, your affiliates, representatives, users or customers; or (vi) instructions to configure the Ripple Products specifically 
      | for your use thereof.
      li An entity seeking indemnification shall promptly notify the indemnifying party of any such claim; provided that any delay in notifying will not relieve 
      | the indemnifying party of its indemnity obligations unless it was substantially prejudiced by such failure. An indemnifying party will have the authority 
      | to assume the sole defense through its own counsel of any matter for which it acknowledges its indemnification obligations hereunder and to compromise or 
      | settle any such suits, provided that any compromise or settlement that imposes liability on an indemnified entity shall be subject to such entity’s 
      | written approval.  
   p 
    | 18. 
    strong AUDIT. 
    | During the term of this Agreement and for one year thereafter, Ripple and its agents shall have the right to audit and review your records, systems and 
    | facilities used for the receipt and use of the Ripple Products and the calculation of any Fees owed hereunder, to confirm that Fees have been accurately 
    | determined and that the restrictions on access, security and use of Ripple Products and Ripple Materials have been observed.
   p 
    | 19. 
    strong DISPUTES. 
    | PLEASE READ THE FOLLOWING PARAGRAPH CAREFULLY BECAUSE IT REQUIRES YOU TO ARBITRATE DISPUTES WITH RIPPLE AND IT LIMITS THE MANNER IN WHICH YOU CAN SEEK 
    | RELIEF. You agree that any claim, cause of action and dispute (“Claim”) arising out of or related to this Agreement or the Ripple Products is governed by 
    | California law regardless of your location or any conflict or choice of law principle.  Any Claim filed later than 1 year after the facts giving rise to 
    | such Claim occurred are hereby waived and shall be forever barred.  You and Ripple agree to arbitrate any Claim, except that you and Ripple are not required 
    | to arbitrate any Claim in which either party seeks equitable or other relief for the alleged unlawful use of its intellectual property. ARBITRATION PREVENTS 
    | YOU FROM SUING IN COURT OR FROM HAVING A JURY TRIAL. You and Ripple agree that you will notify each other of any dispute within thirty (30) days of when it 
    | arises, that you will attempt informal resolution prior to any demand for arbitration, that any arbitration will occur in San Francisco, California, USA and 
    | that arbitration will be conducted confidentially by a single arbitrator in accordance with the rules of JAMS. The Federal Arbitration Act and federal 
    | arbitration law apply to this Agreement. You and Ripple also agree that the state or federal courts in San Francisco County, California have exclusive 
    | jurisdiction over any appeals of an arbitration award and over any suit between the parties not subject to arbitration. You and Ripple each waive any 
    | objection based on lack of personal jurisdiction, place of residence, improper venue or forum non conveniens in any such action.  Neither you nor Ripple 
    | will participate in a class action or class-wide arbitration for any Claims related to this Agreement. 
  p 
    | 20. 
    strong ASSIGNMENT. 
    | Neither party may assign this Agreement or any rights hereunder without the prior written consent of the other party.  Notwithstanding the foregoing, each 
    | party shall be entitled to assign this Agreement in its entirety to an affiliate, acquirer or successor entity as a result of a restructuring, merger or 
    | sale of all or a substantial part of its business or assets.  Any purported assignment made in violation of this Section 20 will be deemed to be, and will 
    | be, void. Subject to the foregoing, this Agreement will bind each party and its permitted successors and assigns.
  p 
    | 21. 
    strong U.S. GOVERNMENT RESTRICTED RIGHTS. 
    | The Ripple Products are Commercial Computer Software and Commercial Computer Software Documentation provided with RESTRICTED RIGHTS and are licensed to 
    | U.S. government end users only as commercial items and only with those rights as are granted to all other end users under the terms and conditions set forth 
    | herein.  Use, duplication or disclosure of the Ripple Products by the U.S. Government or a U.S. Government contractor or subcontractor is subject to the 
    | restrictions set forth herein and as provided in FAR 12.211 and 12.212 (48 C.F.R. §12.211 and 12.212) or DFARS 227. 7202 (48 C.F.R. §227-7202) as applicable.
  p 
    | 22. 
    strong OTHER TERMS. 
    | This Agreement will not be construed as creating an agency, partnership, joint venture or any other form of association, for tax purposes or otherwise, 
    | between the parties, and the parties will at all times be and remain independent contractors. Our failure or delay in exercising any right, power or 
    | privilege under this Agreement will not operate as a waiver thereof. If any provision of this Agreement (including the prohibition against class actions and 
    | other claims brought on behalf of third parties contained in Section 19) is held to be invalid or unenforceable for any reason, the remaining provisions 
    | will continue in full force without being impaired or invalidated in any way. The parties agree that any invalid provision shall be deemed to be restated so 
    | as to be enforceable to the maximum extent permissible under law consistent with the original intent and economic terms of the invalid provision.
  p 
    strong By clicking on the “I AGREE” button below, (1) YOU AGREE TO ALL OF THE TERMS OF THIS AGREEMENT, (2) YOU ARE CONSENTING TO ENTER INTO THIS AGREEMENT 
    | IN ELECTRONIC FORM, AND (3) YOUR CLICK SHALL CONSTITUTE YOUR ELECTRONIC SIGNATURE ACCEPTING THIS AGREEMENT.  Any individual person accepting this Agreement 
    | on behalf of an entity further represents and warrants that such individual person is a duly authorized representative, having the power and authority to 
    | bind such entity to this Agreement.  If you do not have such authority or if you do not wish to accept this Agreement, you should click “I DO NOT AGREE.”
  .col-md-3
  .col-md-3
    button.btn.btn-block.btn-success.text-center(type='submit', ng-click='acceptTou()', l10n) I AGREE
  .col-xs-3
    button.btn.btn-block.btn-danger.btn-xs.submit#delete(type="button", ng-click="denyTou()", l10n) I DO NOT AGREE
  .col-xs-12  
    p.error(ng-show="showWarningMessage") You must accept the Ripple Products Terms of Use to use the Ripple Admin Console.  