div.auth-attention.banner
  h4(l10n) Ripple Desktop Client
  ul
    li(l10n) Have another user send XRP to your Ripple address ({{address}}).&#32
      a(href="https://support.ripplelabs.com/hc/en-us/articles/202964876-Activating-Your-Wallet", target="_blank") Suggestions for getting XRP.