section.col-xs-12.content(ng-controller='XrpCtrl')

  //- Disconnected

  group.disconnected(ng-hide='connected')
    p.literal(l10n="err-you-must-be-online-to-see-this-screen", l10n)
      | You have to be online to see this screen

  //- Funding
  //- Funding
  div(ng-show="!loadingAccount && !account.Balance && loadState.account && connected")
    include ../tabs/banner/unfunded

  .row(ng-show='connected')
    .col-sm-3
      include fund/menu
    .col-sm-9.list
      .fundXrp(ng-show="fundPage == 'xrp'")
        .nameLine(l10n) Ripple address&#32;
          .address {{address}}

